@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

:root {
  --primary-color: #d87d4a;
  --secondary-color: #101010;
  --hover-primary-color: #fbaf85;
  --hover-secondary-color: #ffffff;
  --container-color: #f1f1f1;
  --background-color: #fafafa;
}

* {
  font-family: "Manrope", sans-serif;
}

.h1 {
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 58px;
  letter-spacing: 2px;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1.5px;
}

.h3 {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 1.15px;
}

.h4 {
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 2px;
}

.h5 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 33px;
  letter-spacing: 1.7px;
}

.h6 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
}

.text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}
